<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" class="modern">
  {% include nav.html %}
    
  {{ content }}
    
  {% include footer.html %}

  <!-- Core Scripts -->
  <script src="/assets/js/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <!-- Plugin Scripts -->
  <script src="/assets/js/plugins/jquery.easing.min.js"></script>
  <script src="/assets/js/plugins/classie.js"></script>
  <script src="/assets/js/plugins/cbpAnimatedHeader.js"></script>
  <script src="/assets/js/plugins/owl-carousel/owl.carousel.js"></script>
  <script src="/assets/js/plugins/jquery.magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="/assets/js/plugins/background/core.js"></script>
  <script src="/assets/js/plugins/background/transition.js"></script>
  <script src="/assets/js/plugins/background/background.js"></script>
  <script src="/assets/js/plugins/jquery.mixitup.js"></script>
  <script src="/assets/js/plugins/wow/wow.min.js"></script>
  <script src="/assets/js/plugins/jqBootstrapValidation.js"></script>
  <!-- Vitality Theme Scripts -->
  <script src="/assets/js/vitality.js"></script>

</body>

</html>