---
layout: default
---

<header style="background-image: linear-gradient(rgba(20,20,20, .7), rgba(20,20,20, .7)), url('/assets/img/bg-tech3.jpg');">
        <div class="intro-content">
	        <i class="fa fa-cog" style="font-size: 8em;"></i>
            <div class="brand-name">Ryan Gormley</div>
            <hr class="colored">
            <div class="brand-name-subtext">Front-end Web Development</br>
              Computer Repair</br>
              Virus Removal</br>
              IT / Networking</div>
        </div>
        <div class="scroll-down">
            <a class="btn page-scroll" href="#about"><i class="fa fa-angle-down fa-fw"></i></a>
        </div>
    </header>
    <section id="about">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-6">
                    <img src="/assets/img/code.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-6 text-center">
                    <h1>Computer Repair &amp; Web Development</h1>
                    <hr class="colored">
                    <p>I'm an experienced computer technician and web developer based in Las Vegas, Nevada. I have a professional background in front-end web development and programming, computer repair and networking, and virus removal.</p>
                    <p>Whether your next project is an online store, a website for your business, setting up a new network, or getting your computer functioning correctly again, I can help!</p>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="bg-gray">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-lg-12 wow fadeIn">
                    <h1>One-Stop Internet and Computer Expertise</h1>
                    <p>I can provide website development, search engine optimization, custom programming, computer repair and upgrades, virus recovery, data loss prevention.</p>
                    <hr class="colored">
                </div>
            </div>
            <div class="row text-center content-row">
              
              <div class="col-md-4 wow fadeIn" data-wow-delay=".2s">
                  <div class="about-content">
                      <i class="fa fa-code fa-4x"></i>
                      <h3>Web Development</h3>
                      <p>Whether it's a one-page site or a multi-page site, I use the latest HTML, CSS and JavaScript technologies along with a mobile-first approach.</p>
                  </div>
              </div>
              <div class="col-md-4 wow fadeIn" data-wow-delay=".4s">
                  <div class="about-content">
                      <i class="fa fa-laptop fa-4x"></i>
                      <h3>Computer Repair &amp; Upgrades</h3>
                      <p>Swap your aging computer's hard drive for a faster solid-state drive (SSD), increase the amount of memory (RAM) - typically at a lower cost than buying a new computer.</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay=".6s">
                  <div class="about-content">
                    <span class="fa-stack fa-2x">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>
                      <h3>SEO</h3>
                      <p>Search Engine Optimization is essential for delivering customers to your website.  I develop websites with SEO principles in mind from the start.</p>
                  </div>
              </div>
              
              
            </div>
            <div class="row text-center content-row">
              
              
              <div class="col-md-4 wow fadeIn" data-wow-delay=".8s">
                  <div class="about-content">
                    <i class="fa fa-stethoscope fa-4x"></i>
                      <h3>Virus Removal</h3>
                      <p>Slow startup, slow performance, crashes, web browser re-directions, suspicious "security alerts"; these are symptoms of a computer virus infection.</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay="1s">
                  <div class="about-content">
                    <i class="fa fa-handshake-o fa-4x"></i>
                      <h3>IT / Networking</h3>
                      <p>Configure your local WiFi network to ensure it's secured, and allow your devices (printers, scanners, network storage) to talk to each other.</p>
                  </div>
              </div>
              <div class="col-md-4  wow fadeIn" data-wow-delay="1.2s">
                  <div class="about-content">
                      <i class="fa fa-laptop fa-4x"></i>
                      <h3>Web Design</h3>
                      <p>I work hand-in-hand with my designers to achieve the look and feel you're after, including any off-line branding.</p>
                  </div>
              </div>
              
            </div>
        </div>
    </section>
    <aside class="cta-quote" style="background-image: url('/assets/img/redrock_snow1.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 wow fadeIn">
                    <span class="quote">Good
                        <span class="text-primary">design</span> is finding that perfect balance between the way something
                    <span class="text-primary">looks</span> and how it
                    <span class="text-primary">functions</span>.</span>
                    <hr class=" colored">
                    <a class="btn btn-outline-light page-scroll" href="#contact">Let's Find It</a>
                </div>
            </div>
        </div>
    </aside>
    <section id="process" class="services" style="padding-bottom: 0px;">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 wow fadeIn">
                    <h2>My Process</h2>
                    <hr class="colored">
                    <p>Here is an overview of how I approach each new project.</p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-md-4 wow fadeIn" data-wow-delay=".2s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-clipboard"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Plan</h3>
                            <ul>
                                <li>Client interview</li>
                                <li>Gather consumer data</li>
                                <li>Create content strategy</li>
                                <li>Analyze research</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay=".4s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Create</h3>
                            <ul>
                                <li>Build wireframe</li>
                                <li>Gather client feedback</li>
                                <li>Code development</li>
                                <li>Marketing review</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Launch</h3>
                            <ul>
                                <li>Deploy website</li>
                                <li>Market product launch</li>
                                <li>Collect UX data</li>
                                <li>Regular maintenance</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container wow fadeIn bg-gray">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="colored">
                    <p>Free initial consultation! Send me a message and I will see if I can help.</p>
                    <p><a href="mailto:ryan@rg45.com">ryan@rg45.com</a></p>
                </div>
            </div>

        </div>
    </section>
    <a href="mailto:ryan@rg45.com" class="btn btn-block btn-full-width">Email me now!</a>